body{
    background-image: url("imagen.jpg");
    margin: 5% 18%;
    font-family: Algerian;
    padding-left: 5%;
    color: white;
    text-align: center;

}

h1{
    text-align: center;
    font-size: 3vw;
    color: black;
}


a{
    text-decoration: none;
    font-style: italic;
    color: white;
    text-align: center;
    font-size: 1.5vw;
}


/*
*@utor Jesús María Olalla Pérez.
* 2ºDAW
* Desarrollo web en entorno cliente.
*  */
