body{
    background-image: url("wallpaperbetter.com_1920x1080.jpg");
    margin: 5% 18%;
    font-family: Algerian;
    padding-left: 5%;
    align-content: center;

}

h1{
    text-align: center;
    font-size: 5vw;
}

hr{
    margin-top: -30px;
    color: grey;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;
    font-style: italic;
}

#contenedor{
    padding-left: 0.5em;
    text-align: left;
    width: 500px;
    height: 1000px;
    margin-bottom: -200px;
}

/*
*@utor Jesús María Olalla Pérez.
* 2ºDAW
* Desarrollo web en entorno cliente.
*  */

